@keyframes catalog-process-spinner {
  from  { transform: rotate(0deg); }
  to 	{ transform: rotate(360deg); }
}

.catalog-grid {
    // border: 1px solid #ccc;

    // state
    &--in-process & {
        &__container {
            filter: blur(1px) opacity(40%);
        }

        &__process-block {
            opacity: 1;
            pointer-events: auto;
            
            &__spinner {
                &:after {
                    animation-play-state: running;
                }
            }
        }
    }
    
    &__container {
        margin: 7px 0px;
        position: relative;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-gap: 14px;

        transition: filter 0.25s;
		transition: transform 0.2s;
        transition: all 0.25s;

        @media screen and (max-width: 545px) {

        }
    }

    &__process-block {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        background: rgba(255, 255, 255, 0.5);
        z-index: 20;
        
        font-size: 16px;
        
        opacity: 0;
        pointer-events: none;
        user-select: none;
        
        transition: opacity 0.25s;
        
        &__spinner {
            display: inline-block;
            margin: 0 5px;
            padding: 0;
            
            &:after {
                content: "\f110";
                font-family: "FontAwesome";
                font-size: 20px;
                display: block;
                animation: catalog-process-spinner 1s linear infinite;
                animation-play-state: paused;
            }
        }
    }
}

.catalog-grid-navigation {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 7px 0px;
    
    &__item {
        flex: 1 25%;
    }

    &__middle {
        flex: 1 50%;
        margin: 0px 14px;
        height: 30px;
    }

    @media screen and (max-width: 725px) {
        &__middle {
            flex: 1 10;
        }
    } 

    @media screen and (max-width: 545px) {
        &__middle {
            flex: 0 10;
            margin: 0;
        }
    } 


    & > span {
        font-family: "Roboto";
        font-size: 12px;
        font-weight: 500;
        color: #777;
    }
}

.card {
    padding-bottom: 80px; 
}

.catalog-grid-autoload {
    &__body {

    }

    &__footer {
        margin-top: 30px;
        padding-bottom: 20px;
    }
}

.catalog-grid-autoload-loading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__text {
        font-family: "Roboto";
        font-size: 14px;
        color: #808080;
        user-select: none;
        cursor: default;
    }
}

.load-test {
    margin: 20px 0px;
    min-height: 320px;
    background: rgba(137, 243, 137, 0.34);
    border: 10px solid rgba(12, 64, 12, 0.80);
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    color: #808080;
}