.price-range-widget {
    user-select: none;

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-top: 10px;
    }
}

.price-range-input {
    flex: 1 1 90px;
    width: 90px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 2px;
    border: 1px solid #ccc;

    padding: 8px 10px;
}

.price-range-widget-noselect { 
    user-select: none;

    @media screen and (min-width: 746px) {
        cursor: pointer;
    }
}

